@import 'o-buttons/main';



.o-forms {
	padding-left: 0;
	padding-right: 0;
}

.o-comments-o-buttons--primary {
	@include oButtons($theme: primary);
}

.o-comments--displayname-container{
	margin-top: 8px;
	display: flex;
}

.o-comments-displayname-input {
	margin-top: 0;
}

.o-overlay {
	width: 100%;
	max-width: 400px;
}

.o-overlay__title {
	font-family: MetricWeb, sans-serif;
}
